.main {
    background-color: #c0c0c0;
    width: 70%;
    border: 3px;
    border-style: outset;
    padding-left: 25px;
    margin-left: 25px;
}

.timer {
    font-size: larger;
    font-family: monospace;
    font-weight: bolder;
    border: 2px solid #c0c0c0;
    border-style: outset;
    margin-left: -15px;
}

.paused {
    color: red;
}

.unpaused {
    color: green;
}

.win {
    color: cyan;
}

.mines {
    color: blueviolet;
    text-align:center;
    border: 2px solid #c0c0c0;
    border-style: outset;
    font-size: larger;
    font-family: monospace;
    font-weight: bolder;
    margin-right: 10px;
}

.inProgress {
    display: none;
}

.gameWon {
    display: block;
    width: 70%;
    text-align: center;
    color: cyan;
}

.displayWin {
    border: 1px solid #c0c0c0;
    background: #c0c0c0;
    background-clip: padding-box;
    border-style: outset;
    position: absolute;
    background-image: url(../../assets/win.png);
    padding-left: 100px;
    color: transparent;
    background-repeat: no-repeat;
    background-position-x: center;
}

.displaySmile {
    background: #c0c0c0;
    background-clip: padding-box;
    border: 1px solid #c0c0c0;
    border-style: outset;
    position: absolute;
    padding-left: 100px;
    background-image: url(../../assets/smile.png);
    background-repeat: no-repeat;
    background-position-x: center;
    color:transparent;
}

.displayLose {
    border: 1px solid #c0c0c0;
    background: #c0c0c0;
    background-clip: padding-box;
    border-style: outset;
    position: absolute;
    background-image: url(../../assets/dead.png);
    padding-left: 100px;
    color: transparent;
    background-repeat: no-repeat;
    background-position-x: center;
}